*{
    margin: 0;
    padding: 0;    
}
body{
    background:#2d6ccc;
}
h1 , #res{
    size: 21px;
    color:white;
    text-transform: uppercase;
    font-family: 'Domine', serif;
    text-align: center;
    padding: 10px;
}
h2{
    font-size: 4vh;
    color:white;
    text-transform: uppercase;
    font-family: 'Domine', serif;
    text-align: center;
    padding: 10px;
}
.containner {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
    top: 50%;
    left: 50%;
}
input{
    width: 50vh;
    height: 10vh;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    background: linear-gradient(to right, #fff,#fffaaa,#1ffababa);
}
input::placeholder{
    font-size:20px;
    align-items: center;
    text-align: center;
}
#botao{
    background:rgb(21, 161, 21);
    color: white;
    align-content: space-between;
    box-shadow:inset 0 0 1em rgb(12, 41, 136), 0 0 1em rgb(31, 4, 4);
}
@media (max-width:720px){
    body{
        width: 720px;
        height: 1520px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
background-image: url(http://4.bp.blogspot.com/-Q2ZnV7DJ5Oo/VJMutHzQLbI/AAAAAAAACoY/DqrmZDky_3k/s1600/fat_guy_on_beach.jpg);

    }
    #res{
        margin-top: 10%;
        margin-left: -7%;

        font-size: 3vh;
        color: violet;
        font-weight: bold;
        background-color: forestgreen;
        
    }
    #botao , #peso{
        margin-left: -45%;
        margin-top: 10%;
       width: 40%;
       font-size: 6vh;
    }
    #peso{
     background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    }
    h1,h2{
        margin-left: -45%;
        margin-top: 6%;
    }

}